<div class="body container">
    <!-- This is Body Component -->
    <!-- <app-databinding></app-databinding> -->
    <!-- <app-directives>
        <div>
            Some Content from Body Component
        </div>
     </app-directives> -->
    <!-- <app-product-list></app-product-list> -->
    <!-- <app-employee-crud></app-employee-crud> -->
    <!-- <app-pipe-demo></app-pipe-demo> -->
    <!-- <app-parent-demo></app-parent-demo> -->
     <!-- <app-employee></app-employee> -->
     <app-comment-list></app-comment-list>
      <!-- <app-user-crud></app-user-crud> -->
       <app-product-list-http></app-product-list-http>
        <!-- <app-employee-list-http></app-employee-list-http> -->
</div>