<div class="border border-2 rounded-2 m-2 p-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-center mb-2">Employees Table</h2>
               <app-employee-table [employeesObj]="filEmployees" (deleteEmpEvent)="deleteEmp($event)"></app-employee-table>
            </div>
            <div class="col-sm-6">
                <h2 class="text-center mb-2">Add Employee</h2>
                <app-employee-add (addEmpEvent)="addEmp($event)"></app-employee-add>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Employee Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if(selectedEmp){
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Salary</th>
                                <th>Status</th>
                                <th>Gender</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{selectedEmp.id}}</td>
                                <td>{{selectedEmp.name}}</td>
                                <td>{{selectedEmp.role}}</td>
                                <td>{{selectedEmp.salary}}</td>
                                <td>{{selectedEmp.status}}</td>
                                <td>{{selectedEmp.gender}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>